<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <title></title>
    <link type="text/css" rel="stylesheet" href="static/css/style.css"/>
    <script type="text/javascript" src="static/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var height = $(document).height();
            $('body').css('height', height);
            var mart = height - 500;
            mart = mart / 2;
            $('.loginBox').css('marginTop', mart);
        })
    </script>
</head>

<body>
<form class="loginBox" id="registerForm">
    <h1>注册</h1>
    <div class="item">
        <div class="icon"><img src="static/img/icon1.png"/></div>
        <div class="txt"><input name="username" type="text" placeholder="请输入您的用户名"/></div>
    </div>
    <div class="item">
        <div class="icon"><img src="static/img/icon2.png"/></div>
        <div class="txt"><input name="password" type="password" placeholder="请输入您的密码"/></div>
    </div>
    <div class="item_3">
        <input name="" type="submit" value="注册" class="btn"/>
    </div>
    <div class="item_4">
        已注册<a href="/">我要登录</a>
    </div>
</form>

<script>
    const loginForm = document.getElementById('registerForm');

    loginForm.addEventListener('submit', (e) => {
        e.preventDefault();

        const formData = new FormData(loginForm);
        const xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    const response = xhr.responseText;

                    if (response === 'error') {
                        alert('注册失败，用户已存在');
                    } else {
                        // 登录成功时进行重定向
                        alert('注册成功')
                        window.location.href = '/';
                    }
                } else {
                    // 处理请求错误情况
                    alert('请求错误：' + xhr.status);
                }
            }
        };

        xhr.open('POST', '/doregister');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.send(new URLSearchParams(formData).toString());
    });
</script>
</body>
</html>
